<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta charset="utf-8">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
  <meta name="color-scheme" content="light dark">
  <meta name="supported-color-schemes" content="light dark">
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <style>
    td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
  </style>
  <![endif]-->    <title>-</title>    
  <style>
    
</style></head>
<body style="word-break: break-word; -webkit-font-smoothing: antialiased;"> 
  <div role="article" aria-roledescription="email" lang="de">  
    <p>Guten Tag {{name}},<br /><br />wir freuen uns, Ihnen mitzuteilen, dass Ihr beauftragter Nachsendeauftrag erfolgreich bearbeitet wurde. Ihr Antrag wurde bei der Deutschen Post eingereicht und best&auml;tigt, sodass Ihre Post wie gew&uuml;nscht an Ihre neue Adresse weitergeleitet wird.<br /> <br /> Im Anhang dieser E-Mail finden Sie den Leistungsnachweis, der die ordnungsgem&auml;&szlig;e Bearbeitung Ihrer Anfrage dokumentiert. Dieser dient Ihnen als Best&auml;tigung, dass Ihr Nachsendeauftrag gem&auml;&szlig; unseren Servicebedingungen und Ihrer Bestellung umgesetzt wurde.<br /> <br /> <strong>Zahlungshinweis</strong><br /> <br /> Bitte &uuml;berweisen Sie den offenen Rechnungsbetrag in H&ouml;he von <strong>{{price}}</strong> fristgerecht bis zum F&auml;lligkeitsdatum auf folgendes Konto:<br /> <br /> Kontoinhaber:&nbsp;nachsendeauftrag-buchen.de<br /> Bank:&nbsp;Postbank<br /> IBAN:&nbsp;DE97 5707 0324 0062 2829 00<br /> BIC:&nbsp;PBNKDEFFXXX<br /> Betrag: {{price}}<br /> Verwendungszweck: {{invoiceId}}</p>
<p> <br /> Sollten Sie Fragen zur Zahlung oder zum Nachsendeauftrag haben, stehen wir Ihnen jederzeit gerne zur Verf&uuml;gung. Wir bedanken uns f&uuml;r Ihr Vertrauen und freuen uns, Ihnen auch in Zukunft mit unserem Service zur Seite zu stehen.</p>
<br /><br />Mit freundlichen Gr&uuml;&szlig;en,</p>
<p>Ihr&nbsp;Team von nachsendeauftrag-buchen.de&nbsp;</p>
<p>&nbsp;</p>
<p>________________</p>
<p>Impressum&nbsp;</p>
<p>Adresse:&nbsp;</p>
<p>Digital Service Solutions - FZCO<br /> Shams Business Center &middot; Sharjah Media City &middot; Sharjah &middot; UAE&nbsp;</p>
<p>E-Mail:&nbsp;<a href="mailto:info@nachsendeauftrag-buchen.de">info@nachsendeauftrag-buchen.de</a><br /> Steuer-Identifikationsnummer: 103853475500001&nbsp;</p>
<p>Handelsregister: Sharjah Free Zone Authority</p>
  </div>
</body>
</html>